/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #595b5c;
    justify-content: center;
}

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ff0000;
}

.contact-info {
    text-align: left;
    margin-bottom: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-item a {
    color: #333;
    text-decoration: none;
}

.contact-item a:hover {
    text-decoration: underline;
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 40px;
    height: 40px;
}

