/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.heading {
    font-size: 28px;
}

.domain {
    background-color: rgb(136, 132, 132);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Animation for Domain Headings */
.domain-heading {
    font-size: 24px;
    margin-bottom: 15px;
    animation: bounce 0.8s ease infinite alternate;
    color: rgb(248, 244, 18);
}

/* Keyframes for Bounce Animation */
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-5px);
    }
}

/* Project styles */
.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Center the boxes horizontally */
}

.project {
    flex: 1; /* Equal width for all boxes */
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-name {
    font-size: 20px;
    margin-bottom: 10px;
    color: #085f2d;
}

.project-description {
    font-size: 16px;
    color: #333;
}

/* Responsive styles (adjust as needed) */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }
}
h1{
    text-align: center;
}
img{
    width:140px;
    height:140px;
}
h3{
    color:yellow;
}